EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyA7Tho3-fw4W0wZSfGFgzR8XtJ5We0d6VM
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=dieselup-4f893.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=dieselup-4f893
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=dieselup-4f893.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1005180745697
EXPO_PUBLIC_FIREBASE_APP_ID=1:1005180745697:web:74e5144f4483b44c1d44a0
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-RCZRWJ9QZV
EXPO_PUBLIC_FIREBASE_APP_CHECK_SITE_KEY=
EXPO_PUBLIC_FIREBASE_WEB_PUSH_VAPID_KEY=
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=
EXPO_PUBLIC_EAS_PROJECT_ID=
EXPO_PUBLIC_SUPPORT_EMAIL=support@dieselup.ng
EXPO_PUBLIC_USE_EMULATORS=false
GOOGLE_SERVICES_JSON=./config/firebase/google-services.json
GOOGLE_SERVICES_INFO_PLIST=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=1005180745697-diadppku2de32dfioi9juhnpo6rg8jqb.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
